In [1]:
import pandas as pd
import numpy as np

#read the csv file
df = pd.read_csv('KNN.csv')
col = df.columns
print(col)

if 'Unnamed: 0' in col:
    df.drop('Unnamed: 0', axis = 1, inplace = True)

print(df)

Index(['Unnamed: 0', 'sepal length', 'sepal width', 'species', 'sqrt'], dtype='object')
    sepal length  sepal width     species       sqrt
0            5.3          3.7      setosa   2.441311
1            5.1          3.8      setosa   2.459675
2            7.2          3.0   virginica   2.641969
3            5.4          3.4      setosa   2.662705
4            5.1          3.3      setosa   2.758623
5            5.4          3.9      setosa   2.920616
6            7.4          2.8   virginica   3.360060
7            6.1          2.8  versicolor   3.687818
8            7.3          2.9   virginica   3.828838
9            6.0          2.7  versicolor   3.841875
10           6.8          2.8   virginica   4.186884
11           6.3          2.3  versicolor   4.318565
12           5.1          2.5  versicolor   4.410215
13           6.3          2.5  versicolor   4.652956
14           5.5          2.4  versicolor   4.788528
15          10.0         20.0      setosa   4.924429
16           2.0          3.0      setosa  16.329421
17           3.1          5.2      setosa        NaN

In [2]:
length = df['sepal length'].tolist()
print(length)
width = df['sepal width'].tolist()
print(width)

[5.3, 5.1, 7.2, 5.4, 5.1, 5.4, 7.4, 6.1, 7.3, 6.0, 6.8, 6.3, 5.1, 6.3, 5.5, 10.0, 2.0, 3.1]
[3.7, 3.8, 3.0, 3.4, 3.3, 3.9, 2.8, 2.8, 2.9, 2.7, 2.8, 2.3, 2.5, 2.5, 2.4, 20.0, 3.0, 5.2]

In [3]:
x2 = eval(input("Enter new sepal length: "))
y2 = eval(input("Enter new sepal width: "))
k = 3

Enter new sepal length: 8
Enter new sepal width: 9

In [4]:
list1 = []
for i in range(0,len(length)):
    z = np.sqrt((x2-length[i])**2 + (y2-width[i])**2)
    list1.append(z)
print(list1)

[5.948108943185221, 5.953990258641679, 6.053098380168622, 6.174139616173252, 6.395310782127793, 5.724508712544684, 6.228964600958975, 6.48459713474939, 6.1400325732035, 6.609841147864296, 6.315061361538778, 6.912307863514182, 7.117583859709698, 6.71863081289633, 7.057619995437555, 11.180339887498949, 8.48528137423857, 6.2008063991709985]

In [5]:
list1.sort()
print(list1)

[5.724508712544684, 5.948108943185221, 5.953990258641679, 6.053098380168622, 6.1400325732035, 6.174139616173252, 6.2008063991709985, 6.228964600958975, 6.315061361538778, 6.395310782127793, 6.48459713474939, 6.609841147864296, 6.71863081289633, 6.912307863514182, 7.057619995437555, 7.117583859709698, 8.48528137423857, 11.180339887498949]

In [6]:
if len(df['sqrt']) != 0:
    df.drop('sqrt', axis = 1, inplace = True)
df['sqrt'] = list1 
df.to_csv('KNN.csv')

In [7]:
sort = df.head(5)
print(sort)

   sepal length  sepal width    species      sqrt
0           5.3          3.7     setosa  5.724509
1           5.1          3.8     setosa  5.948109
2           7.2          3.0  virginica  5.953990
3           5.4          3.4     setosa  6.053098
4           5.1          3.3     setosa  6.140033

In [8]:
sort.iloc[0]

sepal length         5.3
sepal width          3.7
species           setosa
sqrt            5.724509
Name: 0, dtype: object

In [9]:
count = [0 for i in range(0, len(df['species'].unique()))]
name = df['species'].unique().tolist()
#print(name)
for i in range(0, len(sort)):       
    if sort.iloc[i]['species'] == name[0]:        
        count[0] = count[0]+1
    elif sort.iloc[i]['species'] == name[1]:        
        count[1] = count[1]+1 
    elif sort.iloc[i]['species'] == name[2]:        
        count[2] = count[2]+1
#print(count)
# for  i in range(0,len(count)):
#     if count[i] == max(count):
#         print('Highest occuring species is ',name[i],' its count is ',max(count))

#i = count.index(max_count)

max_count = max(count)
print('Highest occuring species is ',name[count.index(max_count)],' its count is ',max(count))

Highest occuring species is  setosa  its count is  4

In [10]:
fields = {
    '' : [len(df)],
    'sepal length' : [x2],
    'sepal width' : [y2],
    'species' : [name[count.index(max_count)]]
}

df1 = pd.DataFrame(fields)
df1.to_csv('KNN.csv', mode = 'a', index=False, header=False)
print("Data appended successfully.")

Data appended successfully.